{% extends 'appblog/base.html' %}

{% block titulo %}
Cambiar contraseña 
{% endblock %}

{% block contenido %}


<h1> Cambiar contraseña... </h1>
<br/><br/>
<form method="post">

    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Cambiar contraseña">

    <br/><br/>
<ul>
    <li> Tu contraseña no puede ser demasiado parecida a tus otros datos personales.</li>
    
    <li> Tu contraseña debe contener al menos 8 caracteres.</li>
    
    <li> Tu contraseña no puede ser una contraseña de uso común.</li>
    
    <li> Tu contraseña no puede ser totalmente numérica.</li>
</ul>
</form>
        
</div>
{% endblock %}