{% extends 'appblog/base.html' %}

{% block titulo %}
{{object.titulo_tag}}
{% endblock %}

{% block contenido %}

    <h1> {{object.titulo}} </h1>
    <small>Creado por: {{ object.autor.first_name}} 
        {{object.autor.last_name}} - {{ object.fecha }}
        
        
            {% if request.user.is_authenticated %}
                
                <a href="{% url 'actualizar-post' object.id %}">Editar</a>
                <a href="{% url 'borrar-post' object.id %}">Borrar</a>
                
            {% endif %}
        
    
    </small><br/>
    <hr>
    <br/>
    {% if object.imagen_cabezera %}
    <img src="{{ object.imagen_cabezera.url }}">
    {% endif %} 
    
    <br/><br/>
    {{ object.cuerpo|safe }}

<br/><br/>
<a href="{% url 'inicio' %}" class="btn btn-secondary"> Volver </a>

<br/><br/>

<img src="{{ object.autor.perfil.perfil_imagen.url }}">

{% endblock %}
 







