{% extends 'appblog/base.html' %}


{% block contenido %}


<h1> Posts </h1>
<ul>
{% for Post in object_list %}   
    <li><a href="{% url 'detalle-post' Post.id %}" >{{ Post.titulo }}</a> - {{ Post.autor.first_name }} 
        {{Post.autor.last_name }} -  {{ Post.fecha }} 
        
        
        {% if request.user.is_authenticated %}
            <small><a href="{% url 'actualizar-post' Post.id %}">Editar</a></small>
            <small><a href="{% url 'borrar-post' Post.id %}">Borrar</a></small>
        {% endif %}
        
        
    <br/>
{{ Post.descripcion }}</li>
{% endfor %}
</ul>

{% endblock %}