{% extends 'appblog/base.html' %}

{% block titulo %}
Crea un nuevo post!
{% endblock %}

{% block contenido %}

{% if request.user.is_authenticated %}
    {% if user.id == object.autor.id %}
        <h1> Agregar Posts... </h1>
        <form method="post">

        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Crear/Actualizar">
        </form>
        
        </div>
    {% else %}
        No has iniciado secion

    {% endif %}
{% else %}

No has iniciado secion

{% endif %}

{% endblock %}